DEVICE_IPS=192.168.1.1,192.168.1.2
DEVICE_TOKENS=aaaa,bbbb
# 可以命名为插座名称，或者被监控设备名称
DEVICE_NAMES=pulgin1,plugin2
INFLUX_HOST=127.0.0.1
INFLUX_PORT=8086
INFLUX_USER=user
INFLUX_PASS=password
INFLUX_DB=db
# 数据库表名
MEASUREMENT=power_consumption
# 采集间隔
INTERVAL=5
DEBUG=0
